<div ng-controller="ContactController">
    <form>
<div class ="row">
    <div class="col-xs-3">
        <button name="button" type="A" class="btn btn-default navbar-btn" url="#">A</button>
        <button name="button" type="B" class="btn btn-default navbar-btn" url="#">B</button>
        <button name="button" type="C" class="btn btn-default navbar-btn" url="#">C</button>
        <button name="button" type="D" class="btn btn-default navbar-btn" url="#">D</button>
        </br>
    </div>
</div>
</form>
</div>
