<!-- 
Create tabs with an icon and label, using the tabs-positive style. 
Each tab's child <ion-nav-view> directive will have its own 
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

<!-- login tab -->
<ion-tab title="Login" icon="icon ion-button" href="#/tab/login">
<ion-nav-view name="tab-login"></ion-nav-view>
</ion-tab>

<!-- logout Tab -->
<ion-tab title="logout" icon="icon ion-button" href="#/tab/logout">
<ion-nav-view name="tab-logout"></ion-nav-view>
</ion-tab>

<!-- register tab -->
<ion-tab title="register" icon="icon ion-button" href="#/tab/button">
<ion-nav-view name="tab-register"></ion-nav-view>
</ion-tab>

<!-- unregister tab -->
<ion-tab title="unregister" icon="icon ion-button" href="#/tab/unregister">
<ion-nav-view name="tab-unregister"></ion-nav-view>
</ion-tab>

<!-- channel tab -->
<ion-tab title="channel" icon="icon ion-button" href="#/tab/channel">
<ion-nav-view name="tab-channel"></ion-nav-view>
</ion-tab>

<!-- debug tab -->
<ion-tab title="debug" icon="icon ion-button" href="#/tab/button">
<ion-nav-view name="tab-debug"></ion-nav-view>
</ion-tab>


</ion-tabs>

